body {
    background-color: steelblue;
    text-align: center;
}

h1 {
    color: ivory;
    font-family: "Arial Narrow";
}

img {
    margin-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

form {
    margin-top: 1em;
    color: ivory;
}