body {
    background: darkcyan;
    color: whitesmoke;
    font-family: arial;
    font-size: 3vh;
    margin-left: 30px;
    padding-left: 20px;
 }

 h1{
     font-color: whitesmoke;
     font-size: 4vh;
     margin-left: 20px;
     margin-top: 30px;
 }

 form{
     background: bisque;
     margin: 30px;
     padding: 20px;
 }

 input{
     font-size: 4vh;
 }

 a{
     color: dimgrey;
 }

 a:visited{
     color: whitesmoke;
 }
 .button{
     font-size: 4vh;
     color: whitesmoke;
     background-color: darkcyan;
     padding: 10px;
     border-radius: 5px;
 }