<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Brandons Lab</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <h1>Welcome to the Scraper</h1>
        <img src="/images/scraper.svg"/>

        <form action="/search" method="GET">
            <legend>Search for album art</legend>
            <input type="text" placeholder="search..." name="queryParams">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>